body
{
	width:100%;
	padding:0;
	margin:0;
	text-align:center;
}

h1
{
	width:80%;
	font-size:48px;
	border:1px solid;
	text-align:center;
}

h2
{
	text-align:left;
	text-decoration:underline;
}

#top
{
	margin-left:20%;
}

#menu ul 
{
	margin:0;
	padding:0;
	display: inline;
	text-align:center;
} 

#menu ul li 
{
	margin:0;
	padding: 15px;
	text-align:center;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
}

#contenu
{
	margin-top:50px;
	border:1px solid;
	text-align:left;
}

#firefox
{
	float:left;
}

#thunder
{
	float:right;
}