#top
{
	background-color:#7b7b7b;
	background-image:url('../image/logoportable.jpg');
	background-repeat:no-repeat;
	width:100%;
	height:50px;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
html
{
	overflow-y: scroll;
}

img
{
	border:0;
}

#menu
{
    background : #b22222;
	text-align:center;
	list-style:none;
	margin:0;
	padding:0;
}

#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
		margin:0;
        padding :0; /* aucune marge intérieure */
        background : #b22222; /* couleur de fond */        
        color : #fff; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
		
}
#menu a:hover{
			background: #d5695d;
}

#menu li /* Elements des listes */      
{
	display:inline-block;
	margin:0;
	padding:0;
    /* pour IE qui ne reconnaît pas "transparent" */
	width:100%;
		
		
}

h2
{
	margin:0;
	border-bottom:2px solid #b22222;
	border-left:4px solid #b22222;
	font-size:15px;
}

h3
{
	font-size:25px;
	color: #112233;
	text-align:center;
}
h4{
	border-left:3px solid #ccc;
}

body
{
	position:relative;
	width:100%;
	margin:0;
	padding:0;
}

/*Pour centrer l'image d'acceuil*/
#image_standard ul
{
    text-align:center;
	margin:0px;
	padding:0;
	list-style:none;
}
/*Pour modifier la taille de l'image d'acceuil*/
#image_standard img 
{
	width: 80%;
	height: 250px;
}

#title1{
	margin-left:0;
}	

#title2{
	margin-left:0;
}	


dl.formulaire {
	width: 99%;
	margin:0px;
	padding:0px;
	background:#ccc;
	font: 13px arial,sans-serif;
	border-top: 1px solid #b22222;
	border-bottom: 1px solid #b22222;
			}

.formulaire dt {
	width: 100%;
	text-align: center;
	margin:0px;
	padding:0px;
	padding-top:15px;
	font-weight: bold;
	
			}
	
.formulaire dd {
	width:100%;
	display:block;
	margin:0px;
	padding:0px;
	padding-top: 15px;
	text-align:center;
			}		

.formulaire li{
	width:100%;
	list-style: none;
	list-style:none;
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	text-align:center;
	}

 dl.formation {
	width: 99%;
	padding: 5px;
	margin:0px;
	padding:0px;
	background:#fff;
	font: 13px arial,sans-serif;
			}

		
.formation dd {
	width:100%;
	list-style: none;
	margin:0px;
	padding:0px;
	text-align:center;
	color: #b22222;
			}		

.test{
		list-style: none;
		font-size: 13px;
		text-align: left;
		color: #000;
		width:100%;
		/*width:102.6%;*/
		padding:0;
		font-family:Arial;
		}
.test2{
		list-style: none;
		font-size: 13px;
		text-align: left;
		color: #000;
		width:100%;
		/*width:102.6%;*/
		padding:0;
		font-family:Arial;
		line-height:20px;
		}
#test3{
		list-style: none;
		font-size: 15px;
		text-align: center;
		color: #b22222;
		width:100%;
		margin:0;
		padding:0;
		font-family:cosmic;
		}

.nousjoindre{
		border-bottom:1px solid #b22222;
		list-style: none;
		font-size: 16px;
		text-align: center;
		color: #000;
		width:100%;
		/* width:102.6%; */
		padding:0;
		margin:0;
		font-family:Arial;
		}
.nousjoindre li{
		list-style:none;
}

.nousjoindre ul{
		margin:0;
		padding:0;
}

.nousjoindre img{
	width: 32px;
	height: 32px;
}

.pdf:after {
				content: " " url("../formation/pdf.png");
			}

/* Pour la page de l'institut */
#institut ul
{
	margin:0;
	padding:0;
	text-align: center;
}

#institut li
{
	display:inline-block;
	margin:0;
	padding:0;
	border: 2px solid #fff;
}

#institut li:hover 
{
	background-color:#b22222;
	border-color: #b22222;
}

#institut img
{
	margin:0;
	padding:0;
	width: 250px;
}

		
#footer
{
	height:93px;
	text-align:center;
    background-image:url(../image/ban_foot.png);
	background-repeat: repeat-x;
}